<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>cadastro-usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-input label="Nome" labelPlacement="floating" placeholder="Digite nome completo"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input label="E-mail" type="email" labelPlacement="floating" placeholder="Digite um e-mail válido"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input label="Senha" type="password" labelPlacement="floating" placeholder="Digite uma senha"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input label="Confirme a Senha" type="password" labelPlacement="floating" placeholder="Repita a senha"></ion-input>
  </ion-item>

  <ion-button expand="full" color="success">SALVAR</ion-button>
  <ion-button expand="full" fill="clear" color="dark">VOLTAR</ion-button>
</ion-content>
