<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>Cadastro Produto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item>
    <ion-input [(ngModel)]="produto.nome"
    label="Nome" labelPlacement="floating" placeholder="Digite o nome do produto"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input [(ngModel)]="produto.descricao"
    label="Descrição" labelPlacement="floating" placeholder="Digite a descrição do produto"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input [(ngModel)]="produto.validade"
    label="Validade" labelPlacement="floating" placeholder="Digite a validade do produto"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input [(ngModel)]="produto.preco"
    label="Preço" type="number" labelPlacement="floating" placeholder="Digite o preço do produto"></ion-input>
  </ion-item>

  <ion-button (click)="salvarProduto()" expand="full" color="success">SALVAR</ion-button>
  <ion-button routerLink="/" expand="full" color="success">VOLTAR</ion-button>

</ion-content>
