<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Cadastro de produto
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 
  <ion-item>
    <ion-input label="Digite um ID:" [(ngModel)] = "id"></ion-input>
  </ion-item>
  <ion-button expand="block" (click)="buscarPorID()">
    Buscar produto por ID
  </ion-button>

  <ion-button expand="block" (click)="buscarProdutos()">
    Limpar Filtro
  </ion-button>

  <div *ngIf="produto">
  <h2 style="color:blue">Resultado da Busca:</h2>
  <ion-item>
    <ion-badge slot="start">{{produto.id}}</ion-badge>
    <ion-label>
      <h3>{{produto.nome}}</h3>
      <p>{{produto.descricao}}</p>
      <p>{{produto.preco}}</p>
      <p>{{produto.validade}}</p>
    </ion-label>
  </ion-item>
</div>




<ion-item *ngFor="let prod of listaProdutos">
  <ion-badge slot="start">{{prod.id}}</ion-badge>
  <ion-label>
    <h3>{{prod.nome}}</h3>
    <p>{{prod.descricao}}</p>
  </ion-label>
</ion-item>


<ion-fab slot="fixed" horizontal="end" vertical="bottom">
  <ion-fab-button routerLink="/cadastro-produto">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>

</ion-content>
